*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(120deg, #3ec0b4, #d748f9);
      color: rgb(255, 255, 255);
      min-height: 100vh;
}
.contenido{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    box-shadow: 0px 20px 10px rgba(17, 4, 4, 0.157);
    background: rgb(233, 233, 233);
    padding: 10px 10px;

}
.date{
    flex-basis: auto;   
    margin: auto;
 
}
.adds{
   width: 50%;
   margin: auto;

  
}
h3{
    color: #000;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
input,.add{
    padding: 17px 10px;
    margin-bottom: 20px;
    background: rgb(246, 246, 246);
    border: none;
    outline: none;
}
h2{
    margin: 5px 0px;
    font-size: 20px;
    text-transform: uppercase;
}
.cardd{
    color: rgb(97, 97, 97);
    padding: 10px 10px;
}
.cardd:nth-of-type(2n+1){
    color: #fff;
    background: cadetblue;

}
.add{
    background: red;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    
 
}
.generar{
    background: cadetblue;
}
.buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
